.Menu
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#motivos
{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}